@media (max-width: 103.75rem) { /*1660px*/
    html {
        font-size: 14px;
    }

}

@media (max-width: 91.25rem) { /*1460*/
    html {
        font-size: 12px;
    }
}

@media (max-width: 80rem) { /*1280*/
    html {
        font-size: 10px;
    }
}

@media (max-width: 62rem) { /*992*/
    html {
        font-size: 8px;
    }
}

@media (max-width: 46.875rem) {
    html {
        font-size: 16px;
    }

    .container {
        width: 100%;
    }

    header {
        position: static;
    }

    nav {
        background: #0f0f0f;
        align-items: baseline;
        height: initial;
        justify-content: space-between;
    }

    .nav-menu {
        display: none;
    }

    .nav-logo {
        margin: 0;
        padding: 0;
        padding: 0px 126px 0px 0px;
    }

    .nav-logo img {
        padding: 1px 0px 11.4px 0px;
        width: 202%;
    }

    .mob-nav-burger {
        display: block;
        width: 10.5%;
    }

    #burger-nav {
        padding: 34px 0px 28px 38px;
        width: 100%;
    }

    .main-slide-title {
        font-size: 72px;
        width: 40%;
        margin-right: 107px;
        margin-left: 34px;
        padding-top: 215px;
        letter-spacing: 2px;
        line-height: 72px;
    }

    .main-slider .swiper-slide:first-child .main-slide-column:nth-child(2),
    .main-slider .swiper-slide:first-child .main-slide-column:nth-child(3),
    .main-slider .swiper-slide:first-child .main-slide-column:last-child {
        display: none;
    }

    .main-slider .swiper-slide:nth-child(2) .main-slide-column:first-child,
    .main-slider .swiper-slide:nth-child(2) .main-slide-column:nth-child(3),
    .main-slider .swiper-slide:nth-child(2) .main-slide-column:last-child {
        display: none;
    }

    .main-slider .swiper-slide:nth-child(3) .main-slide-column:first-child,
    .main-slider .swiper-slide:nth-child(3) .main-slide-column:nth-child(2),
    .main-slider .swiper-slide:nth-child(3) .main-slide-column:last-child {
        display: none;
    }

    .main-slider .swiper-slide:last-child .main-slide-column:first-child,
    .main-slider .swiper-slide:last-child .main-slide-column:nth-child(2),
    .main-slider .swiper-slide:last-child .main-slide-column:nth-child(3) {
        display: none;
    }
    
    .main-column-letters {
        font-size: 24px;
    }

    .main-column-title {
        font-size: 36px;
    }

    .main-slide-column:nth-child(2) .main-column-focus {
        width: 100%;
    }

    .main-slider .main-column-focus .main-column-title {
        line-height: 43px;
    }

    .main-slide-columns, .main-slide-column {
        width: 100%;
    }

    .main-slide-column {
        backdrop-filter: blur(8px);
        background: linear-gradient(to top, #60417359, #fbfbfb00);
    }

    .main-slider .swiper-button-prev {
        left: 5.6%;
        top: 93.9%;
        width: 9.541%;
        height: 3.72%;
    }

    .main-slider .swiper-button-next {
        left: 85%;
        top: 93.85%;
        width: 9.541%;
        height: 3.72%;
    }

    .main-slider .swiper-pagination-bullet {
        font-size: 30px;
    }

    .main-slider .swiper-pagination-bullet:after {
        top: -1.875rem;
        left: 150%;
        width: 4px;
        height: 21px;
        transition: all 0.5s;
    }

    .main-slider .swiper-pagination-bullet-active:after {
        top: -45px;
        left: 150%;
        width: 4px;
        height: 35px;
    }

    .main-slider .swiper-pagination-bullet {
        margin: 0 30px !important;
    }

    .main-slider .swiper-container-horizontal .swiper-pagination-bullets {
        left: -3%;
        top: 92.5%;
    }

    .main-slider .swiper-slide {
        background-position-x: 50%;
    }

    .second-slider {
        padding-bottom: 14.66rem;
    }

    .second-slider .container {
        width: 89.2%;
    }

    .second-slider .swiper-slide {
        width: 100%;
    }

    .second-slider-title {
        font-size: 72px;
        width: 100%;
        letter-spacing: 1.4px;
        padding-bottom: 39px;
    }

    .second-slider-words {
        top: 4.7%;
        left: 4.3%
    }

    .second-slider-date {
        font-size: 36px;
        padding-bottom: 19px;
    }

    .second-slider-info {
        font-size: 30px;
        line-height: 37px;
    }

    .second-slider-description {
        top: 68.73%;
        left: 4.5%;
    }

    .second-slider-description p {
        font-size: 36px;
        width: 97%;
        line-height: 41px;
    }

    .second-slider-description span {
        top: 172%;
        left: 24%;
        font-size: 24px;
    }

    .second-slider .swiper-button-next {
        left: 85.1%;
        top: 90.88%;
        width: 9.8%;
        height: 3.4%;
    }

    .second-slider .swiper-button-prev {
        left: 6%;
        top: 90.8%;
        width: 9.8%;
        height: 3.4%;
    }

    .second-slider .swiper-pagination-bullet:after {
        top: -1.875rem;
        left: 150%;
        width: 4px;
        height: 21px;
        transition: all 0.5s;
    }

    .second-slider .swiper-pagination-bullet-active:after {
        top: -45px;
        left: 150%;
        width: 4px;
        height: 35px;
    }  

    .second-slider .swiper-pagination-bullet {
        margin: 0 30px !important;
    }

    .second-slider .swiper-container-horizontal .swiper-pagination-bullets {
        left: -3%;
        top: 92.5%;
    }

    .second-slider .swiper-pagination-bullet {
        font-size: 30px;
    }

    .second-slider .swiper-pagination {
        top: 89.96%;
        left: 26.07%
    }

    .counter img {
        width: 88%;
        padding-top: 68px;
    }

    .counter p {
        font-size: 36px;
        padding-top: 40px;
        letter-spacing: 0.6px;
        padding-bottom: 80.55px;
    }

    .events {
        height: 2463px
    }

    .events-san {
        top: 4.6%;
        right: 3.47%;
        width: 92.934%;
    }

    .events-titles {
        top: 14.1%;
        left: 9.91%;
        width: 80%;
    }

    .event-subtitle {
        font-size: 30px;
    }

    .events-item-description {
        width: 60%;
        top: 43%;
        line-height: 37px;
    }

    .events-item-date {
        top: 18%;
    }

    .events-titles .event-title {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .events-slider .swiper-button-next {
        left: 54.68%;
        top: -2.9%;
        width: 13%;
        height: 1.7%;
    }

    .events-slider .swiper-button-prev {
        top: -3%;
        width: 13%;
        height: 1.7%;
        left: 32%;
    }

    .events-flex p {
        font-size: 30px;
        left: 7.5%;
    }

    .events-flex {
        display: block;
    }

    .events-slider {
        width: 80%;
        top: 27.02%;
    }

    .events-slider .swiper-slide {
        width: inherit;
    }

    .events-item-clear, .events-item-pict {
        width: 100%;
        height: 291px;
    }

    .dilivery {
        height: 1235px;
    }

    .dilivery-title.first-title {
        font-size: 50px;
        padding-top: 152px;
    }

    .dilivery-title.second-title {
        font-size: 70px;
        line-height: 55px;
    }

    .dilivery-point-number {
        font-size: 30px;
    }

    .dilivery-point-title {
        font-size: 30px;
    }

    .dilivery-point-description {
        font-size: 30px;
        line-height: 35px;
    }

    .dilivery-points .dilivery-point {
        width: 40%;
        padding: 0;
        margin-left: 60px;
    }

    .dilivery-points {
        width: 80%;
        padding-top: 28px;
    }

    .dilivery-cheiffirst {
        width: 94%;
        left: -26.7%;
        z-index: 1;
    }

    .dilivery-cheifsecond {
        width: 81%;
        bottom: -5.6%;
        z-index: 0;
        left: 38.8%;
    }

    .quest-wrap {
        display: block;
    }

    .quest-title {
        display: inline-block;
        font-size: 110px;
    }

    .quest-left {
        padding-top: 165px;
    }

    .quest-title:first-child {
        padding-left: 25px;
        padding-right: 18px;
    }

    .quest-descriotion {
        font-size: 30px;
        width: 80%;
        line-height: 35px;
        width: 80%;
        padding-left: 25px;
        padding-top: 20px;
    }

    .quest-right {
        padding-top: 65px;
        width: 96.267%;
        margin-left: 20px;
    }

    .quest-right-text {
        font-size: 40px;
        top: 12.4%;
        line-height: 50px;
        left: 6.5%;
        width: 100%;
    }

    .quest-right-letters {
        font-size: 24px;
        top: 88.2%;
        left: 61.8%;
    }

    .quest-right a {
        font-size: 30px;
        top: 25.1%;
        left: 7%;
        padding: 17px 47px 17px 52px;
    }

    .quest-right a:after {
        margin-left: 20px;
    }
    
    .quest {
        padding-bottom: 132px;
    }

    .video {
        height: 1028px;
    }

    .video-map {
        font-size: 30px;
        top: 90%;
        left: 1.5%;
        padding: 20px 144px 15px 175px;
    }

    .video-map:after {
        margin-left: 41px;
    }

    #playBtn {
        top: 822px;
        left: 17%;
        width: 35%;
    }

    #noiseLevel {
        top: 818px;
        left: 425%;
        width: 35%;
    }

    #volume {
        width: 338%;
        top: 842.8px;
        left: 110px;
    }

    .statistics {
        height: 1274px
    }

    .statistics-titles {
        top: 7.9%;
        left: 4.67%;
    }

    .statistics-title {
        font-size: 60px;
        width: 80%;
        line-height: 65px;
        padding-bottom: 18px;
    }

    .statistics-subtitle {
        font-size: 30px;
    }

    .statistics .container {
        width: 89.2%;
    }

    .statistics-table {
        top: 368px;
        width: 102%;
        left: -8px;
        position: relative;
    }

    .statistics-table-row td:last-child {
        display: none;
    }

    .statistics-table-row td {
        width: 33%;
    }

    .statistics-table-row-1 .statistics-table-col {
        height: 119px;
    }

    .statistics-table-row-2 .statistics-table-col {
        height: 174px;
    }

    .statistics-table-row-3 .statistics-table-col {
        height: 168px;
    }

    .statistics-table-row-4 .statistics-table-col {
        height: 170px;
    }

    .statistics-table-num {
        font-size: 72px;
        line-height: 78px;
    }

    .statistics-table-words {
        font-size: 30px;
    }

    .statistics-table-wrap-words {
        width: 200%;
    }

    .statistics-table-wrap-words span {
        display: block;
    }

    .statistics-table-row .statistics-table-wrap-words.active {
        left: 0;
    }

    .statistics-table-wrap-words {
        padding-left: 40px;
        padding-top: 38px;
    }

    .statistics-table-row-1 .statistics-table-wrap-words {
        padding: 0;
        left: 42px;
        top: -8px
    }

    .statistics-table-row-1 .statistics-table-wrap-words.active {
        left: 42px;
    }

    .statistics-table-row-4.statistics-table-row.active:before,
    .statistics-table-row-4.statistics-table-row.active:after {
        width: 100%;
    }

    .statistics-table-row-3.statistics-table-row.active:before,
    .statistics-table-row-3.statistics-table-row.active:after {
        width: 67.5%;
     }

     .statistics-table-row-2.statistics-table-row.active:before,
     .statistics-table-row-2.statistics-table-row.active:after {
        width: 35%;
     }

     .statistics-table-row-1.statistics-table-row.active:before,
     .statistics-table-row-1.statistics-table-row.active:after {
        width: 7%;
     }

     .team {
        /* height: 1429px; */
        height: 1424px;
     }

     .team .container {
         width: 89.2%;
     }

     .team-img-chief {
        bottom: 0%;
        left: -7.4%;
        position: absolute;
     }

     .team-slide-column-1 {
        /* width: 75%; */
        /* width: 110%; */
        width: 88%;
     }

     .team-slide-1-words {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
     }

     .team-slide-1-title {
        font-size: 72px;
        order: 1;
        padding-bottom: 65px;
     }

     .team-slide-1-name {
        order: 3;
        font-size: 36px;
     }

     .team-slide-1-career {
        order: 3;
        font-size: 24px;
        padding-bottom: 70px;
     }

     .team-slide-1-pict {
         order: 1;
         padding-bottom: 5px;
     }

     .team-slide-1-about {
         order: 3;
         font-size: 30px;
         padding-bottom: 0;
     }

     .team-slide-1-descr {
         order: 3;
         font-size: 24px;
         width: 62%;
         line-height: 25px;
     }

     .team-slide-1-pict img:first-child {
        width: 34.5%;
     }

     .team-slide-1-pict img:last-child {
        padding-top: 10px;
        width: 29%;
     }

     .team-column-mob {
        display: block;
        border-left: 0.0625rem solid #ffffff17;
     }

     .team-slide-column-2, .team-slide-column-3 {
        display: none;
     }

     .team-point:first-child {
        padding-top: 0;
        padding-bottom: 0;
     }

     .team-point-number {
        font-size: 24px;
        padding-bottom: 0;
     }

     .team-point-title {
        font-size: 24px;
     }

     .team-point-description {
        /* font-size: 24px; */
        font-size: 19px;
        padding-top: 0;
      }

      .team-point {
        width: 100%;
        padding-bottom: 34px !important;
      }

      .team-column-mob .team-slide-2-words {
        padding-top: 206px;
      }

      .team-hobbies {
        left: 66.5%;
        top: 61.7%;
        width: 14.4%;
      }

      .team .swiper-button-next {
        width: 8.66%;
        height: 2.35%;
        top: 8%;
        left: 82.2%;
      }

      .team .swiper-button-prev {
        width: 8.66%;
        height: 2.35%;
        top: 8%;
        left: 66.5%;
      }

      .gallery-title {
        font-size: 72px;
        top: 115px;
        left: 30px;
      }

      .gallery-btn {
        font-size: 30px;
        left: 56.5%;
        top: 13.4%;
        padding: 19px 58px 15px 64px;
      }

      .gallery-btn:after {
        height: 25px;
        width: 42px;
      }

      .gallery-slide-pict {
        height: 386px;
        width: 597px;
      }

      /* .gallery .swiper-slide {
        height: 386px;
        width: 597px;
      } */

      .gallery .swiper-container {
        padding-top: 126px;
      }

      .gallery .swiper-slide.swiper-slide-active {
          z-index: 1;
      }

      .gallery .swiper-slide-next img, .gallery .swiper-slide-prev img {
          height: 278px;
          z-index: 0;
      }

      .gallery .swiper-pagination-bullet {
        font-size: 30px;
       }

      .gallery .swiper-pagination-bullet:after {
        top: -1.875rem;
        left: 150%;
        width: 4px;
        height: 21px;
        transition: all 0.5s;
       }

       .gallery .swiper-pagination-bullet-active:after {
        top: -45px;
        left: 150%;
        width: 4px;
        height: 35px;
       }

       .gallery .swiper-pagination-bullet {
        margin: 0 30px !important;
       }

       .gallery .swiper-container-horizontal .swiper-pagination-bullets {
        left: -3%;
        top: 73.5%;
       }

       .gallery {
        height: 905px;
       }

       .gallery .swiper-button-next,
       .gallery .swiper-button-prev {
           display: none;
       }

       .footer-wrap {
        display: flex;
        flex-direction: column;
    }

    .footer-list.footer-list-1 {
        order: 2;
    }

    .footer-list.footer-list-2 {
        order: 3;
    }

    .footer-contacts {
        order: 1;
        position: initial;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 68px;
    }
    
    footer .container {
        width: 89.2%;
    }

    .footer-contacts-logo {
        width: 35%;
    }

    .footer-location {
        font-size: 30px;
    }

    .footer-mobile {
        font-size: 30px;
    }

    .footer-contacts-logo {
        width: 34%;
        height: 20%;
        padding-top: 20px;
    }

    .footer-contacts-icons img {
        width: 23.5%;
    }

    .footer-list {
        padding: 0;
        width: 100%;
    }

    .footer-list p {
        font-size: 24px;
    }

    .footer-list li a {
        font-size: 24px;
    }

    .footer-list.footer-list-1 {
        padding-top: 60px;
    }

    .footer-list.footer-list-1 p {
        padding-bottom: 27px;
    }

    .footer-list-2-wrap {
        display: none;
    }

    .footer-list.footer-list-2 {
        padding-top: 198px;
    }

    .footer-list.footer-list-2 p {
        padding-bottom: 27px;
    }

}

@media (max-width: 43.625rem) {
    html {
        font-size: 12px;
    }
}