@font-face {
	font-family: 'CRC65';
	src: url('../fonts/CRC65.eot');
	src: local('☺'), url('../fonts/CRC65.woff') format('woff'), url('../fonts/CRC65.ttf') format('truetype'), url('../fonts/CRC65.svg') format('svg');
	font-weight: normal;
	font-style: 'Bold';
}

@font-face {
	font-family: 'CRC75';
	src: url('../fonts/CRC75.eot');
	src: local('☺'), url('../fonts/CRC75.woff') format('woff'), url('../fonts/CRC75.ttf') format('truetype'), url('../fonts/CRC75.svg') format('svg');
	font-weight: normal;
	font-style: 'ExtraBold';
}

@font-face {
	font-family: 'CRC55';
	src: url('../fonts/CRC55.eot');
	src: local('☺'), url('../fonts/CRC55.woff') format('woff'), url('../fonts/CRC55.ttf') format('truetype'), url('../fonts/CRC55.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CRC25';
	src: url('../fonts/CRC25.eot');
	src: local('☺'), url('../fonts/CRC25.woff') format('woff'), url('../fonts/CRC25.ttf') format('truetype'), url('../fonts/CRC25.svg') format('svg');
	font-weight: normal;
	font-style: 'Light';
}

@font-face {
	font-family: 'CRC35';
	src: url('../fonts/CRC35.eot');
	src: local('☺'), url('../fonts/CRC35.woff') format('woff'), url('../fonts/CRC35.ttf') format('truetype'), url('../fonts/CRC35.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'carefree';
	src: url('../fonts/carefree.eot');
	src: local('☺'), url('../fonts/carefree.woff') format('woff'), url('../fonts/carefree.ttf') format('truetype'), url('../fonts/carefree.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Light.eot');
	src: local('☺'), url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyr';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro Semibold.eot');
	src: local('☺'), url('../fonts/MyriadPro Semibold.woff') format('woff'), url('../fonts/MyriadPro Semibold.ttf') format('truetype'), url('fonts/MyriadPro Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}

.container {
    width: 78.9%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    height: 10.625rem;
    justify-content: space-around;
}

.nav-logo {
    padding-top: 1.0625rem;
    margin-left: 2.875rem;
    margin-right: 12.5rem;
    width: 11.35%;
}

.nav-logo img {
    width: 100%;
}

.nav-menu {
    width: 80.5%;
    padding-top: 0.875rem;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
}

.nav-menu ul:after {
    content: '';
    position: relative;
    left: 0.625rem;
    top: 0.3125rem;
    background: url('../img/arrow-down.png') no-repeat;
    height: 0.375rem;
    width: 0.6875rem;
}

.nav-menu-link {
    text-transform: uppercase;
    font-family: 'CRC65';
    color: #fdfcfc;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.5s;
}

.nav-menu-link:hover {
    text-shadow: 0 0 0.75rem #FFF !important;
}

.main-slider {
    z-index: -1;
}

.main-slider .main-slide {
    height: 63.8125rem;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.main-slide-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 3.75rem;
    width: 14%;
    margin-right: 8.9375rem;
    margin-left: 12.6875rem;
    padding-top: 14.0625rem;
    line-height: 3.75rem;
}

.main-slide-columns {
    display: flex;
}

.main-slide-column {
    border-left: 0.0625rem solid #ffffff17;
    border-right: 0.0625rem solid #ffffff17;
    color: #fff;
    width: 17.25rem;
}

.main-column-wrap {
    position: relative;
    top: 14.6875rem;
    padding-left: 0.625rem;
}

.main-slide-column span {
    display: block;
}

.main-column-wrap {
    width: 70%;
}

.main-column-letter {
    font-family: 'CRC65';
    text-transform: uppercase;
    font-size: 6.25rem;
    line-height: 4.6875rem;
}

.main-column-letters {
    font-family: 'CRC65';
    font-size: 1.125rem;
    line-height: 1.125rem;
    padding-left: 0.375rem;
}

.main-column-title {
    font-family: 'CRC65';
    font-size: 1.875rem;
    padding-top: 1.5625rem;
    padding-bottom: 0.625rem;
}

.main-column-subtitle {
    font-family: 'CRC65';
    font-size: 1.125rem;
    padding-bottom: 0.75rem;
}

.main-column-undersub {
    font-family: 'CRC25';
    font-size: 1rem;
}

.main-slider .swiper-button-next:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.main-slider .swiper-button-prev:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.main-slider .swiper-button-next {
    left: 14.3%;
    position: absolute;
    top: 55.2%;
    outline: none;
    width: 1.841%;
    height: 2.02%;
}


.main-slider .swiper-button-prev {
    left: 10.6%;
    top: 55.2%;
    position: absolute;
    outline: none;
    width: 1.941%;
    height: 2.02%;
}

.main-slider .swiper-pagination-bullet {
    background: none;
    color: #fff;
    font-size: 1.125rem;
    font-family: 'MyriadPro';
    font-weight: 600;
    margin: 0 1.25rem !important;
    position: relative;
}

.main-slider .swiper-container-horizontal .swiper-pagination-bullets {
    /* bottom: 0.625rem; */
    left: -35.7%;
    top: 65.5%;
    width: 100%;
}

.main-slider .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    top: -1.875rem;
    left: 0.5rem;
    width: 0.125rem;
    height: 0.8125rem;
    background-color: #fff;
}

.main-slider .swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 0.5rem;
    width: 0.125rem;
    height: 1.25rem;
    background-color: #fff;
}

.main-slider .swiper-slide:nth-child(2)
.main-slide-column:nth-child(2) .main-column-wrap {
    width: 90%;
}

.main-slider .main-column-focus .main-column-title {
    padding: 0;
    line-height: 2.1875rem;
}

.main-slider .main-column-focus .main-column-letters {
    padding-bottom: 1.875rem;
}

.second-slider {
    position: relative;
    background: #131313;
    padding-top: 3.9375rem;
    padding-bottom: 9.375rem;
}
 
.second-slider .swiper-button-next:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.second-slider .swiper-button-prev:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.second-slider .swiper-button-next {
    left: 60%;
    position: absolute;
    top: 86.6%;
    outline: none;
    width: 2%;
    height: 3.02%;
}


.second-slider .swiper-button-prev {
    left: 37.8%;
    top: 86.2%;
    position: absolute;
    outline: none;
    width: 2.2%;
    height: 3.4%;
}

.second-slider .swiper-pagination-bullet {
    background: none;
    color: #fff;
    font-size: 1.125rem;
    font-family: 'MyriadPro';
    font-weight: 600;
    margin: 0 1.25rem !important;
    position: relative;
}

.second-slider .swiper-pagination {
    position: absolute;
    top: 84.96%;
    left: 43.07%;
}

.second-slider .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    top: -1.875rem;
    left: 0.5rem;
    width: 0.125rem;
    height: 0.8125rem;
    background-color: #fff;
}

.second-slider .swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 0.5rem;
    width: 0.125rem;
    height: 1.25rem;
    background-color: #fff;
}

.second-slider .swiper-slide img {
    width: 100%;
}

.second-slider-title {
    width: 10%;
    line-height: 4rem;
    color: #fff;
    font-size: 3.75rem;
    font-family: 'MyriadPro';
    font-weight: 600;
    padding-bottom: 1.25rem;
}

.second-slider-date {
    color: #fff;
    font-size: 1.875rem;
    font-family: 'MyriadPro';
    font-weight: 600;
    padding-bottom: 0.9375rem;
}

.second-slider-info {
    font-family: 'CRC55';
    color: #868686;
    font-size: 1.125rem;
    line-height: 1.4375rem;
}

.second-slider-info span {
    color: #fff;
}

.second-slider-words {
    position: absolute;
    top: 5.6875rem;
    left: 5.75rem;
}

.second-slider-description {
    position: absolute;
    top: 20.73%;
    left: 70.5%;
}

.second-slider-description p {
    font-family: 'CRC55';
    color: #fff;
    font-size: 1.75rem;
    width: 85%;
    line-height: 2.1875rem;
}

.second-slider-description span {
    font-family: 'CRC65';
    color: #fff;
    font-size: 1rem;
    top: 208%;
    position: absolute;
}

.counter {
    background: #191919;
    text-align: center;
    padding-top: 7.6875rem;
    padding-bottom: 6.1875rem;
}

.counter img {
    width: 27.08%;
}

.counter p {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'MyriadPro';
    font-weight: 600;
    padding-top: 1.25rem;
}

.events {
    position: relative;
    height: 87.5rem;
    background-image: url('../img/events-bg.png');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}

.events-san {
    position: absolute;
    top: 7.46875%;
    right: 24.17%;
    width: 51.6%;
}

.events-titles {
    position: absolute;
    text-align: center;
    top: 21%;
    left: 30.31%;
}

.event-title {
    font-size: 2.5rem;
    color: #fff;
    font-family: 'MyriadPro';
    font-weight: 600;
    letter-spacing: 0.04375rem;
    margin-bottom: 1.0625rem;
}

.event-subtitle {
    font-family: 'MyriadPro';
    font-weight: 300;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.04375rem;
}

.events-slider {
    position: absolute;
    top: 35.2%;
    width: 78.9%;
    left: 10.6%;
}

.events-flex {
    display: flex;
}

.events-flex p {
    font-family: 'CRC65';
    color: #fff;
    font-size: 1.125rem;
}

.events-item-clear, .events-item-pict {
    width: 33.3%;
    height: 15.875rem;
    position: relative;
}

.events-item-pict {
    background-size: cover;
}

.events-item-pict p, .events-item-clear p {
    position: absolute;
    left: 3.75rem;
}

.events-item-date {
    top: 6.625rem;
}

.events-item-description {
    top: 9.375rem;
    width: 40%;
}

.events-slider .swiper-button-next:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.events-slider .swiper-button-prev:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.events-slider .swiper-button-next {
    left: 50.88%;
    position: absolute;
    top: -7.8%;
    outline: none;
    width: 2.641%;
    height: 3.02%;
}


.events-slider .swiper-button-prev {
    left: 46.3%;
    top: -8%;
    position: absolute;
    outline: none;
    width: 2.641%;
    height: 3.02%;
}

.dilivery {
    background-image: url('../img/dileverybg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 42.0625rem;
}

.dilivery-words {
    position: absolute;
    left: 22%;
}

.dilivery img {
    position: absolute;
    top: 0;
    z-index: -1;
}

.dilivery-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.first-title {
    font-size: 2.5rem;
    padding-top: 12.6875rem;
}

.second-title {
    font-size: 3.75rem;
}

.dilivery-points {
    padding-top: 2.0625rem;
    width: 70%;
    display: flex;
    /* margin: 0 auto; */
}

.dilivery-point {
    width: 20%;
}

.dilivery-point:first-child {
    padding-left: 19.875rem;
}

.dilivery-point:last-child {
    padding-left: 7.0625rem;
}

.dilivery-point-number {
    font-family: 'CRC65';
    color: #868686;
    font-size: 1.125rem;
    padding-bottom: 1.0625rem;
}

.dilivery-point-title {
    font-family: 'CRC65';
    color: #fff;
    font-size: 1.125rem;
}

.dilivery-point-description {
    font-family: 'CRC55';
    color: #868686;
    font-size: 1rem;
    padding-top: 0.9375rem;
}

.quest {
    background: #fff;
    padding-bottom: 2.875rem;
}

.quest-wrap {
    display: flex;
}

.quest-left {
    padding-top: 13.3125rem;
}

.quest-title {
    font-family: 'CRC75';
    color: #191919;
    font-size: 5.625rem;
    text-transform: uppercase;
    line-height: 5.625rem;
}

.quest-title:first-child {
    padding-top: 1.3125rem;
    padding-bottom: 1.25rem;
}

.quest-descriotion {
    padding-top: 1.875rem;
    font-family: 'CRC25';
    color: #191919;
    font-size: 1.125rem;
    line-height: 1.25rem;
    width: 50%;
}

.quest-right {
    padding-top: 3.0625rem;
    position: relative;
    width: 65.6%;
}

.quest-right img {
    width: 100%;
}

.quest-right-text {
    color: #fff;
    font-size: 1.75rem;
    font-family: 'CRC35';
    position: absolute;
    top: 32%;
    line-height: 2.0625rem;
    left: 49.3%;
    width: 50%;
}

.quest-right a {
    border: 0.1875rem solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: 'CRC65';
    position: absolute;
    top: 47.5%;
    left: 49.3%;
    padding: 0.6875rem 1.4375rem 0.3125rem 2.25rem;
    text-transform: uppercase;
}

.quest-right a:after {
    content: '';
    background-image: url('../img/link-arrow.png');
    background-size: cover;
    filter: invert(100%);
    display: inline-block;
    height: 1.277rem;
    width: 2.22rem;
    margin-left: 0.6875rem;
}

.quest-right a:hover {
    color: #000;
    background: #fff;
    transition: .5s;
}

.quest-right a:hover:after {
    filter: invert(0%);
    transition: .3s;
}

.quest-right-letters {
    font-family: 'CRC65';
    color: #fff;
    font-size: 1rem;
    position: absolute;
    top: 85.1%;
    left: 67%;
}

.video {
    position: relative;
    height: 46.3125rem;
    background-image: url('../img/video.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#controls span {
    display:inline-block;
}

#playpause {
    background-image: url('../img/link-arrow.png');
    padding:0 0.3125rem;
    width:3.125rem;
}

.video-words {
    text-align: center;
    position: absolute;
    top: 10.1875rem;
    left: 14.74%;
}

.video-words img:first-child {
    width: 32.18%;
}

.video-words img:last-child {
    width: 9.8%;
}

.video-title {
    color: #fff;
    font-size: 3.125rem;
    font-family: 'CRC75';
    padding-top: 0.5625rem;
}

.video-subtitle {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'CRC55';
    text-transform: uppercase;
    padding-bottom: 0.75rem;
}

.video-map {
    text-transform: uppercase;
    border: 0.1875rem solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: 'CRC65';
    position: absolute;
    top: 89.6%;
    left: 75.5%;
    padding: 0.625rem 1.375rem 0.375rem 1.4375rem;
}

.video-map:after {
    margin-left: 0.625rem;
    content: '';
    background-image: url('../img/link-arrow.png');
    background-size: cover;
    filter: invert(100%);
    display: inline-block;
    height: 1.277rem;
    width: 2.22rem;
}

.video-map:hover {
    color: #000;
    background: #fff;
    transition: .5s;
}

.video-map:hover:after {
    filter: invert(0%);
    transition: .3s;
}

.video-player {
    position: absolute;
    top: 0;
    width: 20.88%;
}

#playBtn {
    cursor: pointer;
    position: absolute;
    top: 42.1875rem;
    left: 1%;
    width: 8.8%;
}

#playBtn img {
    width: 100%;
}

#playBtn:hover img{
    filter: invert(50%);
    transition: .1s;
}

#volume {
    width: 252%;
    position: absolute;
    top: 42.8125rem;
    left: 4.375rem;
}

#noiseLevel {
    cursor: pointer;
    position: absolute;
    top: 42rem;
    left: 281%;
    width: 8.8%;
}

#noiseLevel img {
    width: 100%;
}

#noiseLevel:hover img{
    filter: invert(50%);
    transition: .1s;
}

.statistics {
    background-image: url('../img/statisticsbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 46.8125rem;
}

.statistics-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 0.046875rem;
    padding-bottom: 0.75rem;
}

.statistics-subtitle {
    font-family: 'MyriadPro';
    font-weight: 300;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.03125rem;
}

.statistics-titles {
    position: absolute;
    top: 9.4375rem;
    left: 10.67%;
}

.statistics-table {
    border-collapse: collapse;
    border-spacing: 0;
    position: absolute;
    top: 18.75rem;
    width: 78.9%;
    left: 10.73%;
    border-left: 0.125rem solid #fff;
}

.statistics-table td {
    width: 25%;
    height: 4.625rem;
}

.statistics-table-row {
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.15);
    position: relative;
    display: flex;
}

.statistics-table-row:before {
    content: '';
    width: 0rem;
    height: 0.125rem;
    background-color: #fff;
    transition: 7s;
    position: absolute;
    left: 0;
    bottom: -0.0625rem;
}

.statistics-table-row:after {
    content: '';
    width: 0rem;
    height: 0.0625rem;
    background-color: #fff;
    transition: 5s;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
}

.statistics-table-wrap-words {
    padding-top: 1.0625rem;
    position: relative;
    transition: 8s;
    left: 0;
}

.statistics-table-row-1.statistics-table-row.active:before,
.statistics-table-row-1.statistics-table-row.active:after {
    width: 2.5%;
}

.statistics-table-row-1 .statistics-table-wrap-words.active {
    left: 1.18%;
}

.statistics-table-row-2.statistics-table-row.active:before,
.statistics-table-row-2.statistics-table-row.active:after {
    width: 26%;
}

.statistics-table-row-2 .statistics-table-wrap-words.active {
    left: 100%;
}

.statistics-table-row-3.statistics-table-row.active:before,
.statistics-table-row-3.statistics-table-row.active:after {
    width: 50.5%;
}

.statistics-table-row-3 .statistics-table-wrap-words.active {
    left: 200%;
}

.statistics-table-row-4.statistics-table-row.active:before,
.statistics-table-row-4.statistics-table-row.active:after {
    width: 75.2%;
}

.statistics-table-row-4 .statistics-table-wrap-words.active {
    left: 300%;
}

.statistics-table-col {
    border-right: 0.0625rem solid rgba(255, 255, 255, 0.15);
    vertical-align: bottom;
}

.statistics-table-col span {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
}

.statistics-table-col:first-child {
    padding-left: 1.25rem;
}

.statistics-table-num {
    font-size: 3rem;
}

.statistics-table-words {
    font-size: 1.125rem;
}

.team {
    background: #191919;
    height: 61.1875rem;
}

.team-slide-1-words {
    padding-top: 11.4375rem;
}

.team-slide-1-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 4.375rem;
    padding-bottom: 6.75rem;
}

.team-slide-1-name {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 1.875rem;
    padding-bottom: 1rem;
}

.team-slide-1-career {
    font-family: 'CRC65';
    font-size: 1.125rem;
    color: #868686;
    padding-bottom: 5.625rem;
}

.team-slide-1-pict {
    display: flex;
    padding-bottom: 4.4375rem;
}

.team-slide-1-about {
    font-family: 'CRC65';
    font-size: 1.125rem;
    color: #fff;
    padding-bottom: 1.0625rem;
}

.team-slide-1-descr {
    font-family: 'CRC35';
    font-size: 1rem;
    color: #868686;
    width: 58%;
    line-height: 1.21875rem;
}

.team-slide-1-pict img:first-child {
    width: 30%;
}

.team-slide-1-pict img:last-child {
    height: 3.75rem;
    padding-left: 1.1875rem;
    padding-top: 0.5rem;
    width: 24%;
}

.team .swiper-slide {
    display: flex;
}

.team .container,
.team .swiper-container {
    height: 100%;
}

.team-slide-column-2 {
    border-left: 0.0625rem solid #ffffff17;
    border-right: 0.0625rem solid #ffffff17;
    width: 14.7%;
}

.team-slide-column-3 {
    width: 14.7%;
}

.team-point {
    width: 80%;
    padding-left: 0.9375rem;
}

.team-point:first-child {
    padding-top: 23.75rem;
    padding-bottom: 8.125rem;
}

.team-point-number {
    font-family: 'CRC65';
    color: #868686;
    font-size: 1.125rem;
    padding-bottom: 1.0625rem;
}

.team-point-title {
    font-family: 'CRC65';
    color: #fff;
    font-size: 1.125rem;
}

.team-point-description {
    font-family: 'CRC55';
    color: #868686;
    font-size: 1rem;
    padding-top: 0.9375rem;
    line-height: 1.40625rem;
}

.team-img-chief {
    height: 49rem;
    width: 33.875rem;
    /* height: 80%;
    width: 35.9%; auto*/
    padding-top: 12.1875rem;
    padding-left: 2.625rem;
}

.team-hobbies {
    position: absolute;
    left: 93.5%;
    top: 30%;
    width: 6.4%;
}

.team-hobbies img {
    border: 0.3125rem solid #fff;
    border-radius: 50%;
    width: 86.2%;
}

.team-hobbies img:nth-child(2),
.team-hobbies img:nth-child(3) {
    margin-bottom: 1.3125rem;
}

.team-hobbies p {
    font-family: 'CRC35';
    font-size: 1rem;
    text-align: center;
    color: #fff;
    line-height: 1.3125rem;
    padding-bottom: 1.8125rem;
}

.team .swiper-button-next:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.team .swiper-button-prev:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.team .swiper-button-next {
    left: 36.9%;
    position: absolute;
    top: 24.6%;
    outline: none;
    width: 2.66%;
    height: 2.35%;
}


.team .swiper-button-prev {
    left: 32.3%;
    top: 24.29%;
    position: absolute;
    outline: none;
    width: 2.66%;
    height: 2.35%;
}

.gallery {
    background: #0e0e0e;
    height: 67.625rem;
    position: relative;
}

.gallery-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 4.375rem;
    letter-spacing: 0.08125rem;
    position: absolute;
    top: 8.25rem;
    left: 12.375rem;
}

.gallery-btn {
    text-transform: uppercase;
    border: 0.1875rem solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: 'CRC65';
    padding: 0.625rem 2.7rem 0.375rem 3.9375rem;
    position: absolute;
    left: 77.4%;
    top: 14%;
    z-index: 2;
}

.gallery-btn:after {
    margin-left: 1.5rem;
    content: '';
    background-image: url('../img/link-arrow.png');
    background-size: cover;
    filter: invert(100%);
    display: inline-block;
    height: 0.9rem;
    width: 1.6rem;
}

.gallery-btn:hover {
    color: #000;
    background: #fff;
    transition: .5s;
}

.gallery-btn:hover:after {
    filter: invert(0%);
    transition: .3s;
}

.gallery .swiper-container {
    padding-top: 13.25rem;
    height: 100%;
}

.gallery .swiper-slide {
    height: 41.375rem;
    width: 53%;
}

.gallery-slide-pict {
    /* height: 41.375rem;
    width: 64rem; */
    height: auto;
    width: 88%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

.gallery .swiper-slide-next img,
.gallery .swiper-slide-prev img {
    height: 29.8125rem;
    object-fit: cover;
    filter: opacity(60%);
}

.gallery .swiper-button-next:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.gallery .swiper-button-prev:after {
    content: '';
    background-image: url('../img/next-slider-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.gallery .swiper-button-next {
    left: 89.2%;
    position: absolute;
    top: 47.7%;
    outline: none;
    width: 2.1%;
    height: 1.8%;
}


.gallery .swiper-button-prev {
    left: 8.8%;
    top: 47.6%;
    position: absolute;
    outline: none;
    width: 2.1%;
    height: 1.8%;
}

.gallery .swiper-pagination-bullet {
    background: none;
    color: #fff;
    font-size: 1.125rem;
    font-family: 'MyriadPro';
    font-weight: 600;
    margin: 0 1.0625rem !important;
    position: relative;
}

.gallery .swiper-pagination-bullets {
    left: -1.5625rem !important;
}

.gallery .swiper-pagination {
    position: absolute;
    top: 11rem;
    left: 51.6875rem;
}

.gallery .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    top: -1.875rem;
    left: 0.5rem;
    width: 0.125rem;
    height: 0.8125rem;
    background-color: #fff;
}

.gallery .swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 0.5rem;
    width: 0.125rem;
    height: 1.25rem;
    background-color: #fff;
}

footer {
    background: #1b1b1b;
    position: relative;
    padding-bottom: 5.625rem;
}

.footer-wrap {
    display: flex;
}

.footer-list {
    padding-top: 6.5rem;
}

.footer-list-1 {
    width: 17%;
}

.footer-list p {
    text-transform: uppercase;
    font-family: 'CRC25';
    font-size: 1rem;
    color: #777777;
    border-bottom: 0.0625rem solid #777777;
    padding-bottom: 0.25rem;
}

.footer-list ul {
    list-style: none;
    padding-top: 2.125rem;
}

.footer-list ul li {
    padding-bottom: 0.4125rem;
}

.footer-list a {
    text-decoration: none;
    color: #fff;
    font-family: 'CRC25';
    font-size: 1rem;
    transition: 0.5s;
}

.footer-list a:hover {
    color: rgb(176, 211, 142);
}

.footer-list-2 {
    padding-left: 6.3125rem;
}

.footer-list-2-wrap {
    display: flex;
}

.footer-list-2-wrap ul:last-child {
    padding-left: 10.9375rem
}

.footer-list-2-wrap ul:last-child li:last-child {
    padding-top: 3.125rem;
}

.footer-contacts {
    text-align: end;
    position: absolute;
    left: 78.9%;
    top: 8.3125rem;
    width: 11.5%
}

.footer-location {
    color: #fff;
    font-family: 'CRC25';
    font-size: 1rem;
    padding-top: 1.1875rem;
    line-height: 1.25rem;
}

.footer-mobile {
    color: #fff;
    font-family: 'CRC75';
    font-size: 1.5rem;
    padding-bottom: 1.75rem;
}

.footer-contacts-icons {
    display: flex;
    justify-content: flex-end;
}

.footer-contacts-icons img {
    cursor: pointer;
    transition: 1s;
    width: 15.5%;
}

.footer-contacts-logo {
    width: 100%;
}

.footer-contacts-icons img:hover {
    filter: opacity(50%);
}

.footer-contacts-icons img:nth-child(2) {
    margin: 0 1.5625rem;
}


header, section {
    overflow: hidden;
}
