@font-face {
	font-family: 'CRC65';
	src: url('../fonts/CRC65.eot');
	src: local('☺'), url('../fonts/CRC65.woff') format('woff'), url('../fonts/CRC65.ttf') format('truetype'), url('../fonts/CRC65.svg') format('svg');
	font-weight: normal;
	font-style: 'Bold';
}

@font-face {
	font-family: 'CRC75';
	src: url('../fonts/CRC75.eot');
	src: local('☺'), url('../fonts/CRC75.woff') format('woff'), url('../fonts/CRC75.ttf') format('truetype'), url('../fonts/CRC75.svg') format('svg');
	font-weight: normal;
	font-style: 'ExtraBold';
}

@font-face {
	font-family: 'CRC55';
	src: url('../fonts/CRC55.eot');
	src: local('☺'), url('../fonts/CRC55.woff') format('woff'), url('../fonts/CRC55.ttf') format('truetype'), url('../fonts/CRC55.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CRC25';
	src: url('../fonts/CRC25.eot');
	src: local('☺'), url('../fonts/CRC25.woff') format('woff'), url('../fonts/CRC25.ttf') format('truetype'), url('../fonts/CRC25.svg') format('svg');
	font-weight: normal;
	font-style: 'Light';
}

@font-face {
	font-family: 'CRC35';
	src: url('../fonts/CRC35.eot');
	src: local('☺'), url('../fonts/CRC35.woff') format('woff'), url('../fonts/CRC35.ttf') format('truetype'), url('../fonts/CRC35.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'carefree';
	src: url('../fonts/carefree.eot');
	src: local('☺'), url('../fonts/carefree.woff') format('woff'), url('../fonts/carefree.ttf') format('truetype'), url('../fonts/carefree.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Light.eot');
	src: local('☺'), url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyr';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro Semibold.eot');
	src: local('☺'), url('../fonts/MyriadPro Semibold.woff') format('woff'), url('../fonts/MyriadPro Semibold.ttf') format('truetype'), url('fonts/MyriadPro Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}

.container {
    width: 1515px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    height: 170px;
    justify-content: space-around;
}

.nav-logo {
    padding-top: 17px;
    margin-left: 46px;
    margin-right: 200px;
}

.nav-menu {
    width: 80.5%;
    padding-top: 14px;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
}

.nav-menu ul:after {
    content: '';
    position: relative;
    left: 10px;
    top: 5px;
    background: url('../img/arrow-down.png') no-repeat;
    height: 6px;
    width: 11px;
}

.nav-menu-link {
    text-transform: uppercase;
    font-family: 'CRC65';
    color: #fdfcfc;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
}

.nav-menu-link:hover {
    text-shadow: 0 0 12px #FFF !important;
}

.main-slider {
    z-index: -1;
}

.main-slider .swiper-slide {
    height: 1021px;
}

.main-slider .swiper-slide {
    display: flex;
}

.main-slide-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 60px;
    width: 14%;
    margin-right: 143px;
    margin-left: 203px;
    padding-top: 225px;
    line-height: 60px;
}

.main-slide-columns {
    display: flex;
}

.main-slide-column {
    border-left: 1px solid #ffffff17;
    border-right: 1px solid #ffffff17;
    color: #fff;
    width: 276px;
}

.main-column-wrap {
    position: relative;
    top: 235px;
    padding-left: 10px;
}

.main-slide-column span {
    display: block;
}

.main-column-wrap {
    width: 70%;
}

.main-column-letter {
    font-family: 'CRC65';
    text-transform: uppercase;
    font-size: 100px;
    line-height: 75px;
}

.main-column-letters {
    font-family: 'CRC65';
    font-size: 18px;
    line-height: 18px;
    padding-left: 6px;
}

.main-column-title {
    font-family: 'CRC65';
    font-size: 30px;    
    padding-top: 25px;
    padding-bottom: 10px;
}

.main-column-subtitle {
    font-family: 'CRC65';
    font-size: 18px;
    padding-bottom: 12px;
}

.main-column-undersub {
    font-family: 'CRC25';
    font-size: 16px;
}

.main-slider .swiper-button-next:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
}

.main-slider .swiper-button-prev:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
    transform: rotate(180deg);
}

.main-slider .swiper-button-next {
    left: 273px;
    position: absolute;
    top: 549px;
}

.main-slider .swiper-button-prev {
    left: 204px;
    top: 557px;
    position: absolute;
}

.main-slider .swiper-pagination-bullet {
    background: none;
    color: #fff;
    font-size: 18px;
    font-family: 'MyriadPro';
    font-weight: 600;
    margin: 0 20px !important;
    position: relative;
}

.main-slider .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 10px;
    left: -685px;
    top: 670px;
    width: 100%;
}

.main-slider .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    top: -30px;
    left: 8px;
    width: 2px;
    height: 13px;
    background-color: #fff;
}

.main-slider .swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: -38.4px;
    left: 8px;
    width: 2px;
    height: 20px;
    background-color: #fff;
}

.main-slider .swiper-slide:nth-child(2) 
.main-slide-column:nth-child(2) .main-column-wrap {
    width: 90%;
}

.main-slider .main-column-focus .main-column-title {
    padding: 0;
    line-height: 35px;
}

.main-slider .main-column-focus .main-column-letters {
    padding-bottom: 30px;
}

.second-slider {
    position: relative;
    background: #131313;
    padding-top: 63px;
    padding-bottom: 150px;
}

.second-slider .swiper-button-next:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
}

.second-slider .swiper-button-prev:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
    transform: rotate(180deg);
}

 .second-slider .swiper-button-next {
    left: 1159px;
    position: absolute;
    top: 576px;
    outline: none;
}

 .second-slider .swiper-button-prev {
    left: 734px;
    top: 584px;
    position: absolute;
    outline: none;
}

.second-slider .swiper-pagination-bullet {
    background: none;
    color: #fff;
    font-size: 18px;
    font-family: 'MyriadPro';
    font-weight: 600;
    margin: 0 20px !important;
    position: relative;
}

.second-slider .swiper-pagination {
    position: absolute;
    top: 581px;
    left: 827px;
}

.second-slider .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    top: -30px;
    left: 8px;
    width: 2px;
    height: 13px;
    background-color: #fff;
}

.second-slider .swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 8px;
    width: 2px;
    height: 20px;
    background-color: #fff;
}

.second-slider-title {
    width: 10%;
    line-height: 64px;
    color: #fff;
    font-size: 60px;
    font-family: 'MyriadPro';
    font-weight: 600;
    padding-bottom: 20px;
}

.second-slider-date {
    color: #fff;
    font-size: 30px;
    font-family: 'MyriadPro';
    font-weight: 600;
    padding-bottom: 15px;
}

.second-slider-info {
    font-family: 'CRC55';
    color: #868686;
    font-size: 18px;
    line-height: 23px;
}

.second-slider-info span {
    color: #fff;
}

.second-slider-words {
    position: absolute;
    top: 91px;
    left: 92px;
}

.second-slider-description {
    position: absolute;
    top: 96px;
    left: 1068px;
}

.second-slider-description p {
    font-family: 'CRC55';
    color: #fff;
    font-size: 28px;
    width: 85%;
    line-height: 35px;
}

.second-slider-description span {
    font-family: 'CRC65';
    color: #fff;
    font-size: 16px;
    top: 294px;
    position: absolute;
}

.counter {
    background: #191919;
    text-align: center;
    padding-top: 123px;
    padding-bottom: 99px;
}

.counter p {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-family: 'MyriadPro';
    font-weight: 600;
    padding-top: 20px;
}

.events {
    position: relative;
    height: 1400px;
}

.events-san {
    position: absolute;
    top: 105px;
    right: 445px;
}

.events-titles {
    position: absolute;
    text-align: center;
    top: 298px;
    left: 582px;
}

.event-title {
    font-size: 40px;
    color: #fff;
    font-family: 'MyriadPro';
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 17px;
}

.event-subtitle {
    font-family: 'MyriadPro';
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.7px;
}

.events-slider {
    position: absolute;
    top: 495px;
    width: 1515px;
    left: 203px;
}

.events-flex {
    display: flex;
}

.events-flex p {
    font-family: 'CRC65';
    color: #fff;
    font-size: 18px;
}

.events-item-clear, .events-item-pict {
    width: 505px;
    height: 254px;
    position: relative;
}

.events-item-pict p, .events-item-clear p {
    position: absolute;
    left: 60px;
}

.events-item-date {
    top: 106px;
}

.events-item-description {
    top: 150px;
    width: 40%;
}

.events-slider .swiper-button-next:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
}

.events-slider .swiper-button-prev:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
    transform: rotate(180deg);
}

.events-slider .swiper-button-next {
    left: 777px;
    position: absolute;
    top: -75px;
    outline: none;
}

.events-slider .swiper-button-prev {
    left: 708px;
    top: -67px;
    position: absolute;
    outline: none;
}

.dilivery {
    position: relative;
    height: 673px;
}

.dilivery img {
    position: absolute;
    top: 0;
    z-index: -1;
}

.dilivery-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.first-title {
    font-size: 40px;
    padding-top: 203px;
}

.second-title {
    font-size: 60px;
}

.dilivery-points {
    padding-top: 33px;
    width: 70%;
    display: flex;
    margin: 0 auto;
}

.dilivery-point {
    width: 20%;
}

.dilivery-point:first-child {
    padding-left: 318px;
}

.dilivery-point:last-child {
    padding-left: 49px;
}

.dilivery-point-number {
    font-family: 'CRC65';
    color: #868686;
    font-size: 18px;
    padding-bottom: 17px;
}

.dilivery-point-title {
    font-family: 'CRC65';
    color: #fff;
    font-size: 18px;
}

.dilivery-point-description {
    font-family: 'CRC55';
    color: #868686;
    font-size: 16px;
    padding-top: 15px;
}

.quest {
    background: #fff;
    padding-bottom: 46px;
}

.quest-wrap {
    display: flex;
}

.quest-left {
    padding-top: 213px;
}

.quest-title {
    font-family: 'CRC75';
    color: #191919;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 90px;
}

.quest-title:first-child {
    padding-top: 21px;
    padding-bottom: 20px;
}

.quest-descriotion {
    padding-top: 30px;
    font-family: 'CRC25';
    color: #191919;
    font-size: 18px;
    line-height: 20px;
    width: 50%;
}

.quest-right {
    padding-top: 49px;
    position: relative;
}

.quest-right-text {
    color: #fff;
    font-size: 28px;
    font-family: 'CRC35';
    position: absolute;
    top: 227px;
    line-height: 33px;
    left: 401px;
    width: 50%;
}

.quest-right a {
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'CRC65';
    position: absolute;
    top: 336px;
    left: 401px;
    padding: 11px 23px 5px 36px;
    text-transform: uppercase;
}

.quest-right a:after {
    content: url('../img/link-arrow.png');
    filter: invert(100%);
    margin-left: 11px;
}

.quest-right a:hover {
    color: #000;
    background: #fff;
    transition: .5s;
}

.quest-right a:hover:after {
    filter: invert(0%);
    transition: .3s;
}

.quest-right-letters {
    font-family: 'CRC65';
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 602px;
    left: 545px;
}

.video {
    position: relative;
    height: 741px;
}

#controls span {
    display:inline-block;
}
        
#playpause {
    background-image: url('../img/link-arrow.png');
    padding:0 5px;
    width:50px;
}

.video-words {
    text-align: center;
    position: absolute;
    top: 163px;
    left: 283px;
}

.video-title {
    color: #fff;
    font-size: 50px;
    font-family: 'CRC75';
    padding-top: 9px;
}

.video-subtitle {
    color: #fff;
    font-size: 24px;
    font-family: 'CRC55';
    text-transform: uppercase;
    padding-bottom: 12px;
}

.video-map {
    text-transform: uppercase;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'CRC65';
    position: absolute;
    top: 665px;
    left: 1451px;
    padding: 10px 22px 6px 23px;
}

.video-map:after {
    content: url('../img/link-arrow.png');
    filter: invert(100%);
    margin-left: 10px;
}

.video-map:hover {
    color: #000;
    background: #fff;
    transition: .5s;
}

.video-map:hover:after {
    filter: invert(0%);
    transition: .3s;
}

.video-player {
    position: absolute;
    top: 0;
}

#playBtn {
    cursor: pointer;
    position: absolute;
    top: 675px;
    left: 4px;
}

#playBtn:hover img{
    filter: invert(50%);
    transition: .1s;
}

#volume {
    width: 1010px;
    position: absolute;
    top: 685px;
    left: 70px;
}

#noiseLevel {
    cursor: pointer;
    position: absolute;
    top: 672px;
    left: 1125px;
}

#noiseLevel:hover img{
    filter: invert(50%);
    transition: .1s;
}

.statistics {
    position: relative;
    height: 749px;
}

.statistics-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 48px;
    letter-spacing: 0.75px;
    padding-bottom: 12px;
}

.statistics-subtitle {
    font-family: 'MyriadPro';
    font-weight: 300;
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.5px;
}

.statistics-titles {
    position: absolute;
    top: 151px;
    left: 205px;
}

.statistics-table {
    border-collapse: collapse;
    border-spacing: 0;
    position: absolute;
    top: 300px;
    width: 1515px;
    border-left: 2px solid #fff;
}

.statistics-table td {
    width: 25%;
    height: 74px;
}

.statistics-table-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    display: flex;
}

.statistics-table-row:before {
    content: '';
    width: 0px;
    height: 2px;
    background-color: #fff;
    transition: 7s;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.statistics-table-row:after {
    content: '';
    width: 0px;
    height: 1px;
    background-color: #fff;
    transition: 5s;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
}

.statistics-table-wrap-words {
    padding-top: 17px;
    position: relative;
    transition: 8s;
    left: 0;
}

.statistics-table-row-1.statistics-table-row.active:before,
.statistics-table-row-1.statistics-table-row.active:after {
    width: 2.5%;
}

.statistics-table-row-1 .statistics-table-wrap-words.active {
    left: 18px;
}

.statistics-table-row-2.statistics-table-row.active:before,
.statistics-table-row-2.statistics-table-row.active:after {
    width: 26%;
}

.statistics-table-row-2 .statistics-table-wrap-words.active {
    left: 377px;
}

.statistics-table-row-3.statistics-table-row.active:before,
.statistics-table-row-3.statistics-table-row.active:after {
    width: 50.5%;
}

.statistics-table-row-3 .statistics-table-wrap-words.active {
    left: 742px;
}

.statistics-table-row-4.statistics-table-row.active:before,
.statistics-table-row-4.statistics-table-row.active:after {
    width: 75.2%;
}

.statistics-table-row-4 .statistics-table-wrap-words.active {
    left: 1117px;
}

.statistics-table-col {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    vertical-align: bottom;
}

.statistics-table-col span {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
}

.statistics-table-col:first-child {
    padding-left: 20px;
}

.statistics-table-num {
    font-size: 48px;
}

.statistics-table-words {
    font-size: 18px;
}

.team {
    background: #191919;
    height: 979px;
}

.team-slide-1-words {
    padding-top: 183px;
}

.team-slide-1-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 70px;
    padding-bottom: 108px;
}

.team-slide-1-name {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 30px;
    padding-bottom: 16px;
}

.team-slide-1-career {
    font-family: 'CRC65';
    font-size: 18px;
    color: #868686;
    padding-bottom: 90px;
}

.team-slide-1-pict {
    display: flex;
    padding-bottom: 71px;
}

.team-slide-1-about {
    font-family: 'CRC65';
    font-size: 18px;
    color: #fff;
    padding-bottom: 17px;
}

.team-slide-1-descr {
    font-family: 'CRC35';
    font-size: 16px;
    color: #868686;
    width: 58%;
    line-height: 19.5px;
}


.team-slide-1-pict img:last-child {
    height: 60px;
    padding-left: 19px;
    padding-top: 8px;
}

.team .swiper-slide {
    display: flex;
}

.team .container, 
.team .swiper-container {
    height: 100%;
}

.team-slide-column-2 {
    border-left: 1px solid #ffffff17;
    border-right: 1px solid #ffffff17;
    width: 14.7%;
}

.team-slide-column-3 {
    width: 14.7%;
}

.team-point {
    width: 80%;
    padding-left: 15px;
}

.team-point:first-child {
    padding-top: 380px;
    padding-bottom: 130px;
}

.team-point-number {
    font-family: 'CRC65';
    color: #868686;
    font-size: 18px;
    padding-bottom: 17px;
}

.team-point-title {
    font-family: 'CRC65';
    color: #fff;
    font-size: 18px;
}

.team-point-description {
    font-family: 'CRC55';
    color: #868686;
    font-size: 16px;
    padding-top: 15px;
    line-height: 22.5px;
}

.team-img-chief {
    height: 784px;
    width: 542px;
    padding-top: 195px;
    padding-left: 42px;
}

.team-hobbies {
    position: absolute;
    left: 1418px;
    top: 293px;
}

.team-hobbies img {
    border: 5px solid #fff;
    border-radius: 50%;
}

.team-hobbies img:nth-child(2),
.team-hobbies img:nth-child(3) {
    margin-bottom: 21px;
}

.team-hobbies p {
    font-family: 'CRC35';
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 21px;
    padding-bottom: 29px;
}

.team .swiper-button-next:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
}

.team .swiper-button-prev:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
    transform: rotate(180deg);
}

.team .swiper-button-next {
    left: 564px;
    position: absolute;
    top: 227px;
}

.team .swiper-button-prev {
    left: 495px;
    top: 235px;
    position: absolute;
}

.gallery {
    background: #0e0e0e;
    height: 1082px;
    position: relative;
}

.gallery-title {
    font-family: 'MyriadPro';
    font-weight: 600;
    color: #fff;
    font-size: 70px;
    letter-spacing: 1.3px;
    position: absolute;
    top: 132px;
    left: 198px;
}

.gallery-btn {
    text-transform: uppercase;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'CRC65';
    padding: 10px 44px 6px 63px;
    position: absolute;
    left: 1485px;
    top: 155px;
    z-index: 2;
}

.gallery-btn:after {
    content: url('../img/link-arrow.png');
    filter: invert(100%);
    margin-left: 28px;
}

.gallery-btn:hover {
    color: #000;
    background: #fff;
    transition: .5s;
}

.gallery-btn:hover:after {
    filter: invert(0%);
    transition: .3s;
}

.gallery .swiper-container {
    padding-top: 212px;
    height: 100%;
}

.gallery .swiper-slide {
    height: 662px;
    width: 53%;
}

.gallery-slide-pict {
    height: 662px;
    width: 1024px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

.gallery .swiper-slide-next img,
.gallery .swiper-slide-prev img {
    height: 477px;
    object-fit: cover;
    filter: opacity(60%);
}

.gallery .swiper-button-next:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
}

.gallery .swiper-button-prev:after {
    content: url('../img/main-slide-arrow-r.png');
    filter: invert(100%);
    transform: rotate(180deg);
}

.gallery .swiper-button-next {
    left: 1720px;
    position: absolute;
    top: 605px;
    outline: none;
}

.gallery .swiper-button-prev {
    left: 175px;
    top: 613px;
    position: absolute;
    outline: none;
}

.gallery .swiper-pagination-bullet {
    background: none;
    color: #fff;
    font-size: 18px;
    font-family: 'MyriadPro';
    font-weight: 600;
    margin: 0 17px !important;
    position: relative;
}

.gallery .swiper-pagination-bullets {
    left: -25px !important;
}

.gallery .swiper-pagination {
    position: absolute;
    top: 176px;
    left: 827px;
}

.gallery .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    top: -30px;
    left: 8px;
    width: 2px;
    height: 13px;
    background-color: #fff;
}

.gallery .swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: -38.4px;
    left: 8px;
    width: 2px;
    height: 20px;
    background-color: #fff;
}

footer {
    background: #1b1b1b;
    position: relative;
    padding-bottom: 90px;
}

.footer-wrap {
    display: flex;
}

.footer-list {
    padding-top: 104px;
}

.footer-list-1 {
    width: 17%;
}

.footer-list p {
    text-transform: uppercase;
    font-family: 'CRC25';
    font-size: 16px;
    color: #777777;
    border-bottom: 1px solid #777777;
    padding-bottom: 4px;
}

.footer-list ul {
    list-style: none;
    padding-top: 34px;
}

.footer-list ul li {
    padding-bottom: 6.6px;
}

.footer-list a {
    text-decoration: none;
    color: #fff;
    font-family: 'CRC25';
    font-size: 16px;
    transition: 0.5s;
}

.footer-list a:hover {
    color: rgb(176, 211, 142);
}

.footer-list-2 {
    padding-left: 101px;
}

.footer-list-2-wrap {
    display: flex;
}

.footer-list-2-wrap ul:last-child {
    padding-left: 175px
}

.footer-list-2-wrap ul:last-child li:last-child {
    padding-top: 50px;
}

.footer-contacts {
    text-align: end;
    position: absolute;
    left: 1515px;
    top: 133px;
}

.footer-location {
    color: #fff;
    font-family: 'CRC25';
    font-size: 16px;
    padding-top: 19px;
    line-height: 20px;
}

.footer-mobile {
    color: #fff;
    font-family: 'CRC75';
    font-size: 24px;
    padding-bottom: 28px;
}

.footer-contacts-icons {
    display: flex;
    justify-content: flex-end;
}

.footer-contacts-icons img {
    cursor: pointer;
    transition: 1s;
}

.footer-contacts-icons img:hover {
    filter: opacity(50%);
}

.footer-contacts-icons img:nth-child(2) {
    margin: 0 25px;
}


section {
    overflow: hidden;
}